{% include ('ejer1.html.twig') %}
<html>
<head>
  <title>Ejercicio1</title>
</head>
<body>
    {% if num==0 %}
        <h2> Encabezado con 0 </h2>
    {% else %}
        <h2> Encabezado con 1 </h2>
    {% endif %}
</body>
</html>