
{% extends 'base.html.twig' %}
    {% block body %} 
        <div class="header">
            <p>Carrito de Compras</p>
            <div style="float: right;">
            <button class="btn-light">Ver Orden</button>
            <button class="btn-light">Salir</button>
            </div>
        </div>
        <main>
            <h2 class="title"> Lista de Productos </h2>
        </main>
    {% endblock %}