<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> My App </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
