{% block stylesheets %}  
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <form action="{{ path('app_login') }}" method="post">
    {% if error %}
        <div class="msg-error">Usuario o contraseña incorrecta</div>
    {% endif %}
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="_password"/>
        <button type="submit">Ingresar</button>
        <p><strong>¿No tenes cuenta?</strong></p>
        <div>
            <a href="{{ path('app_registro') }}" class="btn-registrar-link">¡Registrate!</a>  
        </div> 
    </form>
        
{% endblock %}
